%html
  %head
  %meta{:charset => "utf-8"}/
  %meta{:content => "IE=edge;chrome=1", "http-equiv" => "X-UA-Compatible"}/
  %title
    Blake Tidwell#{' - ' + current_article.title unless current_article.nil?}
  = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
  %link{:href => "/stylesheets/app.css", :rel => "stylesheet", :type => "text/css", :media => "screen"}/
  %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300,400,700", :rel => "stylesheet", :type => "text/css"}/
%body
  #header.row
    .small-12.columns
      .row
        .small-9.columns
          %h1
            = link_to 'Blake Tidwell', '/'
          %h2 Code. Create. Connect.
        .small-3.columns
          %img.avatar{:src => "http://www.gravatar.com/avatar/b761c938fc4158ea4eed9f8283ac9fc3.png"}
      .row
        %ul.social.inline-list.small-12.columns
          - data.social.profiles.each do |p|
            %li
              %a{:href => p.url, :target => "_blank"}
                %i{:class => "fi-social-#{p.name}"}
  #container.row
    #main.small-12.medium-8.columns{:role => "main"}
      = yield
    %aside#filters.small-12.medium-4.columns
      %h2 Recent Articles
      %ul
        - blog.articles[0...10].each do |article|
          %li
            = link_to article.title, article
            %span= article.date.strftime('%b %e')
      %h2 Tags
      %ul
        - blog.tags.each do |tag, articles|
          %li= link_to "#{tag} (#{articles.size})", tag_path(tag)
      %h2 By Year
      %ul
        - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
          %li= link_to "#{year} (#{articles.size})", blog_year_path(year)