!!!
/[if lt IE 7] <html class="no-js lt-ie9 lt-ie8 lt-ie7">
/[if IE 7] <html class="no-js lt-ie9 lt-ie8">
/[if IE 8] <html class="no-js lt-ie9">
/ [if gt IE 8]><!
%html.no-js
  / <![endif]
  %head
  %meta{:charset => "utf-8"}/
  %meta{:content => "IE=edge;chrome=1", "http-equiv" => "X-UA-Compatible"}/
  %meta{:content => "Blake Tidwell, web developer extraordinaire and EDM producer ordinaire, talks bytes, beats, and philosophy.", :name => "description"}
  %meta{:content => "width=device-width", :name => "viewport"}/
  %title
    Blake Tidwell#{' - ' + current_article.title unless current_article.nil?}
  = feed_tag :atom, "#{blog.options.prefix.to_s}/feed.xml", title: "Atom Feed"
  %link{:href => "/stylesheets/app.css", :rel => "stylesheet", :type => "text/css", :media => "screen"}/
  %link{:href => "http://fonts.googleapis.com/css?family=Open+Sans:300,400,700", :rel => "stylesheet", :type => "text/css"}/
  %script{:src => "javascripts/vendor/modernizr-2.6.1.min.js"}
%body
  /[if lt IE 7]
    <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
  #header.row
    .small-12.columns
      .row
        .small-9.columns
          %h1
            = link_to 'Blake Tidwell', '/'
          %h2 Code. Create. Connect.
        .small-3.columns
          %img.avatar{:src => "http://www.gravatar.com/avatar/b761c938fc4158ea4eed9f8283ac9fc3.png"}
      .row
        .small-12.medium-offset-9.medium-3.columns
          %ul.social.inline-list
            - data.social.profiles.each do |p|
              %li
                %a{:href => p.url, :target => "_blank"}
                  %i{:class => "fi-social-#{p.name}"}
  #container.row
    #main.small-12.medium-8.columns{:role => "main"}
      = yield
    %aside#filters.small-12.medium-4.columns
      %h2 Recent Articles
      %ul
        - blog.articles[0...10].each do |article|
          %li
            = link_to article.title, article
            %span= article.date.strftime('%b %e')
      %h2 Tags
      %ul
        - blog.tags.each do |tag, articles|
          %li= link_to "#{tag} (#{articles.size})", tag_path(tag)
      %h2 By Year
      %ul
        - blog.articles.group_by {|a| a.date.year }.each do |year, articles|
          %li= link_to "#{year} (#{articles.size})", blog_year_path(year)
  %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"}
  :javascript
    window.jQuery || document.write('<script src="js/vendor/jquery-1.8.0.min.js"><\/script>')
  %script{:src => "javascripts/plugins.js"}
  -# %script{:src => "javascripts/app.js"}
  :javascript
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-22797683-1', 'blaketidwell.com');
    ga('send', 'pageview');